*{
    margin:0px;
    padding: 0px;
}

body{
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    background: #fff url(images/fundo.png) repeat-x;
}

#cabecalho{
    height: 200px;
    background: url(images/detalhe-topo.png) no-repeat;
    background-position: 75% 70%;
}

#conteudo-cabecalho{
    width: 50%;
    margin: 0 auto;
    padding-top: 25px;
}
ul{
    list-style: none;
}

#cabecalho ul{
    margin-top: 30px;
    background-color: #b10333;
    float: left;
}
#cabecalho ul li{
    float: left;
}

#cabecalho ul a:hover{
    color: #69001d;
}

body.home #navegacao a#home,
body.brasil #navegacao a#brasil,
body.internacional #navegacao a#internacional,
body.fotos #navegacao a#fotos
{
    color: #fff;
    background: #de003e;
    cursor: text;
}

#cabecalho a{
    font-size: 0.9em;
    float: left;
    display: block;
    line-height: 2.1em;
    padding: 0.5em 1.5em ;
    color: white;
    background: url(images/divisor.png) repeat-y;
}
.caixa li{
    padding: 10px;
    border-bottom: 1px solid rgba(255, 0, 0, .1);
    background-color: white;
    margin: 3px;
}
.caixa ul a:hover{
    background: #f9f9f9 url(images/marcador.png) no-repeat left center;
    padding-left: 20px;
    color: #a1a1a1;
}

#principal{
    padding-top: 20px;
    margin: 20px auto;
    width: 50%;
}
.caixa{
    width: 23%;
    float: left;
}

#lista-noticias{
    padding-left:10px;
}

#lista-noticias li{
    padding:2px;
    border-bottom: 1px solid #ccc;
    height: 65px;
    
}

#lista-noticias li a img{
    float: left;
    margin-right: 5px;
}

#lista-noticias li a{
    text-decoration: none;
}

#lista-noticias li h3{
    font-size: 0.8em;
    color: #3e7ab9;
}

#lista-noticias li p{
    font-size: 0.7em;
}

#lista-noticias li:hover{
    background: #eee;
    cursor: pointer;
}



#caixa-input{
    padding-left: 10px;
    background-color: white;
    margin: 3px;
}
#area-direita{
    
    width: 75%;
    float: right;
}
#area-conteudo{
    width: 48%;
    float: left;
    
}
#coluna-direita{
    width: 48%;
    float: right;
}
.titulo{
    background-color: #294c71;
    padding: 5px;
    margin: 5px;
}
.texto-titulo{
    color: white;
    font-size: 1em;
    font-weight: bold;
}

.caixa{
    margin: 10px 0;
    background: #f3f3f3 url(images/fundo-caixa.png);
}

.conteudo{
    padding: 5px;
    margin-bottom: 20px;
}
a{
    text-decoration: none;
    color: black;
}
a:hover{
    background-color: #f9f9f9;
    color: #a1a1a1;
}
#titulo-noticia{
    background-color: #b10333;
    font-size: 0.8em;
    display: inline-block;
    padding: 2px;
}

#submit{
    background-color: #b10333;
    color: white;
    padding: 5px;
}

#copyright{
    border: 1px solid red;
    clear: both;
    height: 60px;
    background-color: #294c71;
}

#texto-copyright{
    padding: 15px;
    width: 400px;
    margin-left: 25%;
    color: white;
    font-size: 1.1em;
}