p{
    font-family: Arial, Helvetica, sans-serif;
    margin: 5px;
}
header{
    text-align: center;
    margin-bottom: 30px;
    width: 60%;
    margin: 0 auto;
}
header h1{
    text-align: center;
    font-size: 3.5em;
}
#conteudo{
    width: 95%;
    margin: 0 auto;
}
.space{
    margin: 40px;
}