*{
    padding: 0px;
    margin: 0px;
}
a{
    text-decoration: none;
    color: black;
}
a:hover{
    text-decoration: none;
    color: black;
}

header{
    padding: 0 20px;
    text-align: center;
}
    header h1{
        color: brown;
        font-size: 3.5em;
    }

#container-conteudo{
    width: 85%;
    margin: 0 auto;
}

#conteudo{
    background: brown;
    height: 100%;
}

#escolha-resumo{
    padding: 10px;
    text-align: center;
}
    #escolha-resumo h2{
        font-size: 2em;
    }

.texto{
    text-align: center;
}
