.hidden {
    display: none;
}

.suabackgroundDiv {
    z-index: 99;
    position: fixed;
    float: left;
    display: block;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0,0,0,0.5);
    color: #FFF;
}

.suawindowdiv {
    padding: 5px;
    position: fixed;
    display: block;
    left: 25%;
    top: 75px;
    height: 480px;
    right: 25%;
    background-color: #FFF;
    border-radius: 5px;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
}

.suawindowdiv.fullscreen {
    top: 0 !important;
    right: 0 !important;
    left: 0 !important;
    width: 100% !important;
    height: 100% !important;
}

@media screen and (max-width: 1000px) {

    .suawindowdiv {
        right: 20%;
        left: 20%;
    }
}

@media screen and (max-width: 830px) {

    .suawindowdiv {
        right: 15%;
        left: 15%;
    }
}

@media screen and (max-width: 680px) {

    .suawindowdiv {
        right: 10%;
        left: 10%;
    }
}

@media screen and (max-width: 560px) {

    .suawindowdiv {
        right: 5%;
        left: 5%;
    }
}

@media screen and (max-width: 400px) {

    .suawindowdiv {
        right: 0;
        left: 0;
        top: 5%;
    }
}

.suabotaofecharIE {
    font-family: Verdana;
    font-size: 11px;
    font-weight: bold;
    text-decoration: none;
    color: #000;
    position: absolute;
    right: 18px;
    cursor: pointer;
    z-index: 1;
    margin-top: 10px;
}

.suabotaofechar {
    font-family: Verdana;
    font-size: 11px;
    font-weight: bold;
    text-decoration: none;
    color: #000;
    position: absolute;
    right: 18px;
    cursor: pointer;
    z-index: 1;
    margin-top: 10px;
}

.suaIframeContainer {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.suaIframe {
    width: 100%;
    height: 100%;
    padding: 0;
    border: 0;
}

.suaRosettaBg {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0,0,0,0.2);
    color: #FFF;
    z-index: 99;
    border-radius: 5px;
}

.suaRosetta {
    padding: 0;
    background-image: url('Images/loading.gif');
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    background-position: center; /* firefox */
    width: 100%;
    height: 100%;
    border: 0;
}

.suaRosettaIE {
    padding: 0;
    background-image: url('Images/loading.gif');
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    width: 100%;
    height: 500px;
    position: absolute;
    border: 0;
    z-index: 100;
}
/*********************************************************************/
/*********************************************************************/
/*********************************************************************/



.overlay {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 98;
    width: 100%;
    height: 100%;
    background-color: rgba(0,105,102,0.9);
}

/* Correção de problema no Edge em produção */
.suabackgroundDiv .suawindowdiv .overlay {
    position: absolute !important;
}

.boxLoader {
    position: absolute;
    top: 50%;
    margin-top: -80px;
    left: 50%;
    margin-left: -80px;
    width: 160px;
    height: 160px;
    background: #FFFFFF;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.20);
    border-radius: 50%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 2px;
}

    .boxLoader img {
        width: 156px;
        height: 156px;
        border-radius: 50%;
    }

.loaderText {
    position: absolute;
    top: 50%;
    margin-top: 100px;
    left: 50%;
    margin-left: -78px;
    color: white;
    font-size: 1.2em;
    font-family: 'Roboto-Medium';
}