<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="estilo.css">
</head>
<body>
    <div id="container">
        <div id="marca"><h2>Nutrifit</h2></div>
        <div id="conteudo">
            <div id="conteudo-principal">
                <h2>Aqui é um título</h2>
                <img class="img-noticia" src="images/natureza.jpg" alt="">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing </p>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing ?</p>
            </div>
            <div id="conteudo-secundario">
                <h2>Aqui é um título</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing </p>
            <p>Lorem ipsum, dolor sit amet consectetur adipistcing ?</p>
            </div>
        </div>
        <div id="navegacao">
            <ul>
                <li><a href="">Home</a></li>
                <li><a href="">Home</a></li>
                <li><a href="">Home</a></li>
                <li><a href="">Home</a></li>
                <li><a href="">Home</a></li>
                <li><a href="">Home</a></li>
            </ul>
        </div>
        <div id="rodape">Rodapé</div>
    </div>
</body>
</html>